Config(
    object_limit: Bounded(
        value: 50.0,
        min: 0.0,
        max: 100.0,
    ),
    spawn_depth_min: 0.7,
    spawn_depth_max: 0.9,
    scale_min: 0.5,
    scale_max: 1.0,
    speed: Bounded(
        value: 0.4,
        min: 0.0,
        max: 5.0,
    ),
    rotation_speed_degrees: Bounded(
        value: 15.0,
        min: 0.0,
        max: 180.0,
    ),
    background_color: "#0f0f1b",
    object_colors: [
        "#565a75",
        "#c6b7be",
        "#fafbf6",
    ],
)

